<div *ngIf="_customer">
  <div class="clr-row">
    <div class="clr-col-5 clr-col-5_width">
      <clr-alert [clrAlertType]="'success'" [clrAlertClosable]="false" [hidden]="!_isAlertVisible">
        <div class="alert-item">
              <span class="alert-text">
                  Information has changed
              </span>
        </div>
      </clr-alert>
      <div class="customer-info">
        <div class="card-block">
          <h4 class="card-title">
            <clr-icon shape="user" class="is-solid" size="25"></clr-icon>
            {{_customer.lastName}} {{_customer.firstName}} {{_customer.patronymic}}
          </h4>
        </div>
        <div class="grid-container">
          <label class="clr-control-label grid-item">Phone number</label>
          <span class="grid-item">{{_customer.serviceId | formatPhoneNumber}}</span>
          <label class="clr-control-label grid-item" for="email">Email</label>
          <div class="clr-control-container clr-error grid-item">
            <div class="clr-input-wrapper">
              <input [(ngModel)]="_email" size="18" id="email" [disabled]="!_isEditMode">
              <clr-icon class="clr-validate-icon" shape="exclamation-circle"
                        [hidden]="!_isEmailIncorrect"></clr-icon>
            </div>
            <span class="clr-subtext" [hidden]="!_isEmailIncorrect">Enter correct email</span>
          </div>
          <label class="clr-control-label grid-item">Activation date</label>
          <span class="grid-item">{{_customer.creationDate | date:"longDate"}}</span>
          <label class="clr-control-label grid-item">Birthday</label>
          <span class="grid-item">{{_customer.birthday ?
            (_customer.birthday | date:"longDate") : "not indicated"}}</span>
          <label class="clr-control-label grid-item">Region</label>
          <span class="grid-item">{{_customer.region ? _customer.region : "not indicated"}}</span>
          <label class="clr-control-label grid-item">Tariff</label>
          <span class="nav-link grid-item">
            <u id="tariff" routerLink="../tariffs" class="grid-item__reference">
          {{_customerTariff ? _customerTariff.name : "not indicated"}}
              <span class="tariff-tooltip">Show more</span>
          </u>
          </span>
        </div>
        <div class="card-footer">
          <button (click)="_activateEditMode()" class="btn btn-primary">Edit</button>
          <button (click)="_updateCustomerInfo()" class="btn btn-primary">Confirm</button>
        </div>
      </div>
    </div>
    <div class="clr-col-4">
      <div *ngIf="_customerTariff">
        <div class="card-block">
          <h4 class="card-title">
            <clr-icon shape="phone-handset" class="phone-icon" size="25"></clr-icon>
            {{_customerTariff.name}}
          </h4>
        </div>
        <div class="grid-container">
          <label *ngIf="_customerTariff.description" class="clr-control-label grid-item">Description</label>
          <span *ngIf="_customerTariff.description" class="grid-item">{{ _customerTariff.description }}</span>
          <label class="clr-control-label grid-item">Monthly price</label>
          <span class="grid-item">{{ _customerTariff.monthlyPrice }} $</span>
          <label class="clr-control-label grid-item">Free Minutes</label>
          <span class="grid-item">{{ _customerTariff.freeSeconds / 60 }} Minutes</span>
          <label class="clr-control-label grid-item">Free SMS</label>
          <span class="grid-item">{{ _customerTariff.freeSMS }} SMS</span>
          <label class="clr-control-label grid-item">Free traffic</label>
          <span class="grid-item">{{ _customerTariff.freeMegabytes / 1024 }} GB</span>
          <label class="clr-control-label grid-item">Price per minute</label>
          <span class="grid-item">{{ _customerTariff.pricePerMinute }} $</span>
          <label class="clr-control-label grid-item">Price per SMS</label>
          <span class="grid-item">{{ _customerTariff.pricePerSMS }} $</span>
          <label class="clr-control-label grid-item">Price per 1 MB</label>
          <span class="grid-item">{{ _customerTariff.pricePerMegabyte }} $</span>
        </div>
      </div>
    </div>
    <div *ngIf="_customer && _customerTariff" class="clr-col-3 charts-flex-container">
      <circle-progress
      [percent]="_megabytesRemainingPercent"
      [showSubtitle]="true"
      [subtitle]="'GB'"
      [subtitleFontSize]="15"
      [showUnits]="false"
      [title]="(_customer.limits.remainingMegabytes / 1024).toFixed(2)
      + '/'
      + (_customerTariff.freeMegabytes / 1024).toFixed(2)"
      [titleFontSize]="15"
      [maxPercent]="100"
      [radius]="60"
      [animationDuration]="300"
      [outerStrokeWidth]="9"
      [innerStrokeWidth]="7"
      [outerStrokeColor]="_megabytesRemainingPercent > 70 ?
      '#4882c2' :
      _megabytesRemainingPercent > 20
      ? '#ffb340' : '#bc2d03'"
      [innerStrokeColor]="_megabytesRemainingPercent > 70 ?
      '#53a9ff' :
      _megabytesRemainingPercent > 20
      ? '#fbcf80' : '#f19689'"
      ></circle-progress>
      <circle-progress
      [percent]="_SMSRemainingPercent"
      [showSubtitle]="true"
      [subtitle]="'SMS'"
      [subtitleFontSize]="15"
      [showUnits]="false"
      [title]="_customer.limits.remainingSMS
      + '/'
      + _customerTariff.freeSMS"
      [titleFontSize]="15"
      [maxPercent]="100"
      [radius]="60"
      [animationDuration]="300"
      [outerStrokeWidth]="9"
      [innerStrokeWidth]="7"
      [outerStrokeColor]="_SMSRemainingPercent > 70 ?
      '#4882c2' :
      _SMSRemainingPercent > 20
      ? '#ffb340' : '#bc2d03'"
      [innerStrokeColor]="_SMSRemainingPercent > 70 ?
      '#53a9ff' :
      _SMSRemainingPercent > 20
      ? '#fbcf80' : '#f19689'"
      ></circle-progress>
      <circle-progress
      [percent]="_SecondsRemainingPercent"
      [showSubtitle]="true"
      [subtitle]="'MIN'"
      [subtitleFontSize]="15"
      [showUnits]="false"
      [outerStrokeColor]="_SecondsRemainingPercent > 70 ?
      '#4882c2' :
      _SecondsRemainingPercent > 20
      ? '#ffb340' : '#bc2d03'"
      [innerStrokeColor]="_SecondsRemainingPercent > 70 ?
      '#53a9ff' :
      _SecondsRemainingPercent > 20
      ? '#fbcf80' : '#f19689'"
      [title]="(_customer.limits.remainingSeconds / 60).toFixed(0)
      + '/'
      + (_customerTariff.freeSeconds / 60)"
      [titleFontSize]="15"
      [maxPercent]="100"
      [radius]="60"
      [animationDuration]="300"
      [outerStrokeWidth]="9"
      [innerStrokeWidth]="7"
      ></circle-progress>
    </div>
  </div>
</div>
