input:disabled {
  background-color: #fafafa !important;
  border: none;
  cursor: text;
}
clr-icon {
  padding-left: 5px;
}
input:enabled {
  height: 1.1rem;
  padding-left: 10px;
  border: 1px solid rgba(170, 170, 170, .45);
  border-radius: 2px;
  line-height: .5rem;
}
.grid-container {
  padding-left: 15px;
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: .75rem;
}
.card {
  min-width: 12rem;
}
#tariff {
  position: relative;
  display: inline-block;
}
.tariff-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 90px;
  background-color: #787878;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  bottom: 75%;
  left: 50%;
}
#tariff:hover .tariff-tooltip {
  transition: opacity 0.3s;
  visibility: visible;
  opacity: 1;
}
.grid-item__reference {
  cursor: pointer;
}
.grid-item {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 15px;
  overflow-x: visible;
  overflow-y: visible;
  line-height: 1.3rem;
}
.card__grid-container {
  padding-left: 15px;
  display: grid;
  grid-template-columns: 40% 55%;
  justify-content: space-between;
  padding-bottom: 20px;
}
.phone-icon {
  padding-right: 3px;
}
.clr-col-5_width {
  min-width: 12rem;
}
.charts-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.clr-col-7 {
  max-width: 17rem;
}
.clr-row {
  justify-content: space-around;
}
.clr-col-3 {
  flex: auto;
  width: 25%;
  max-width: 80%;
}
.clr-col-4 {
  max-width: 100%;
  min-width: 250px;
}
