<div class="clr-row">
  <div *ngIf="_payments" class="clr-col-7">
      <h3 class="header__first-item">
        Your payment history
      </h3>
    <clr-datagrid>
      <clr-dg-column>Payment</clr-dg-column>
      <clr-dg-column>Balance after payment</clr-dg-column>
      <clr-dg-column>Payment date</clr-dg-column>

      <clr-dg-row *clrDgItems="let payment of _payments">
        <clr-dg-action-overflow>
          <button class="action-item"
                  (click)="_repeatedPaymentValue = payment.payment;
                   _isModalVisible = true">Repeat payment
          </button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{payment.payment}}</clr-dg-cell>
        <clr-dg-cell>{{payment.balanceAfterPayment}}</clr-dg-cell>
        <clr-dg-cell>{{payment.paymentDate | date: 'medium'}}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="7">
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="clr-col-5">
    <div class="flex-container">
    <h3 class="header__second-item">Top up the <br> phone number</h3>
    <clr-alert [clrAlertType]="'success'" [clrAlertClosable]="false"
               [hidden]="!_isAlertVisible">
      <div class="alert-item">
        <span class="alert-text">
            Your balance has been replenished by {{_payments ? _payments[0].payment: null}} ₽
        </span>
      </div>
    </clr-alert>
  </div>
    <div class="card">
      <div class="card-block">
        <clr-icon shape="credit-card" size="48"></clr-icon>
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">Your balance: {{_balance}} $</li>
          <li class="list-group-item font-weight-bold">Phone number: {{_serviceId | formatPhoneNumber}}</li>
          <li class="list-group-item">Last payment date: {{_lastPaymentDate | date: 'medium'}}
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <div class="flex-container">
          <input type="number" [(ngModel)]="_paymentValue" autofocus (input)="_checkPaymentValue()"
                 class="input-pay" name="inputPaymentValue" required>
          <span class="currency">$</span>
          <button (click)="_showModal()" [disabled]="_isPaymentButtonDisabled"
                  class="btn btn-primary btn-pay flex-container__flex-last-item">Pay
          </button>
        </div>
        <span class="pay-sum-tooltip">from 15 to 15000 rubles</span>
        <button
          (click)="_repeatedPaymentValue = _payments[0].payment;
          _showModal()" [disabled]="_payments === null"
          class="btn btn-link btn-repeat-payment">Repeat last payment
        </button>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="_isModalVisible" [clrModalClosable]="false">
  <h3 class="modal-title">
    Phone number:
    <span class="modal-title__user-data">{{_serviceId | formatPhoneNumber}}</span>
    <br>
    Amount of payment:
    <span class="modal-title__user-data">{{_repeatedPaymentValue ?
      _repeatedPaymentValue : _paymentValue}} $</span>
  </h3>
  <div class="modal-body">
    <div class="credit-card">
      <div class="card-right">
        <div class="card-code">
          <label for="CardCode">CVC/CVC-2</label>
          <input id="CardCode" maxlength="3" name="CardCode" type="password">
          <em>last 3&nbsp;digits on signature strip</em>
        </div>
      </div>
      <div class="card-left">
        <div class="card-number">
          <label for="CardNumber">Card number</label>
          <input autocomplete="off" data-maxlength="19"
                 data-val="true" id="CardNumber" name="CardNumber"
                 tabindex="1" type="text" value="">
        </div>
        <div class="card-space-right">
          <label>Card expiry date</label>
          <div class="card-month">
            <select autocomplete="off" data-val="true"
                    id="CardMonth" name="CardMonth" tabindex="2">
              <option value="">--</option>
              <option value="1">01</option>
              <option value="2">02</option>
              <option value="3">03</option>
              <option value="4">04</option>
              <option value="5">05</option>
              <option value="6">06</option>
              <option value="7">07</option>
              <option value="8">08</option>
              <option value="9">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="card-date-separator">
            <label>&nbsp;</label>
          </div>
          <div class="card-year">
            <select autocomplete="off" data-val="true" id="CardYear" name="CardYear"
                    tabindex="3">
              <option value="">--</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
            </select>
          </div>
        </div>
        <div class="card-holder">
          <label for="CardHolder">Card holder</label>
          <input value="NO NAME" autocomplete="off"
                 data-val="true" id="CardHolder" maxlength="80"
                 name="CardHolder" tabindex="5" type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline"
            (click)="_isModalVisible = false; _repeatedPaymentValue = null">Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="_addPayment()">Ok</button>
  </div>
</clr-modal>
