.input-pay {
  height: 44px;
  padding: 0 15px;
  font-size: 17px;
  width: 35%;
  border: 1px solid rgba(170, 170, 170, .45);
  border-radius: 3px;
  background: #fff;
}

.btn-pay {
  height: 44px;
  width: 40%;
}

.btn-repeat-payment {
  height: 44px;
  margin-top: 10px !important;
  width: 100%;
}

.currency {
  font-size: 18px;
  margin-left: 5px;
  margin-top: 10px;
}

.card {
  margin-top: 0.5rem;
  min-width: 200px;
  width: 100%;
}
.clr-col-5 {
  max-width: 80%;
  flex: 1 0 0px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container__flex-last-item {
  margin-left: auto;
}

.credit-card {
  background: url('/assets/images/credit-card.png') top left no-repeat;
  width: 516px;
  min-height: 259px;
}
.credit-card .card-right {
  float: right;
  padding-left: 20px;
  width: 115px;
  padding-top: 87px;
}
.credit-card .card-right em {
  margin-top: 8px;
  font-size: 13px;
  color: #787878;
  line-height: 15px;
  display: block;
  font-style: italic;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  margin-left: -15px;
}
.card-code input {
  width: 40px;
  margin-top: 5px;
  margin-left: 30px;
  height: 30px;
  border: 1px solid #c1c1c3;
  border-radius: 4px;
  background-color: white;
}
.card-code label {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  margin-top: -0.25rem;
  font-size: 15px;
  color: #000;
  display: block;
  font-style: italic;
}
input[type=password] {
  min-width: 1rem;
}
.card-left {
  margin-right: 125px;
  padding: 12px 0 0 22px;
  text-align: left;
}
.card-number {
  padding-top: 16px;
}
label {
  font-size: 15px;
  color: #000;
  font-family: 'officinaserifcregular', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  margin-bottom: 2px;
  display: block;
}
.card-left input {
  width: 340px;
  border: 1px solid #c1c1c3;
  padding: 5px;
  height: 30px;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  border-radius: 4px;
  background-color: white;
}
.credit-card .card-space-right {
  margin-right: 70px;
  text-align: right;
  padding: 5px 4px 0 5px;
}
.card-left label {
  margin-top: -5px;
}
.card-month {
  display: inline-block;
  text-align: left;
  vertical-align: baseline;
  width: 60px;
}
.credit-card select {
  width: 60px;
  height: 34px;
  display: inline-block;
  border: 1px solid #c1c1c3;
  padding: 5px;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  vertical-align: top;
  border-radius: 4px;
}
.card-date-separator {
  width: 15px;
  display: inline-block;
}
.card-year {
  width: 60px;
  display: inline-block;
}
.modal-body {
  overflow-x: auto;
}
.card-holder {
  margin-top: 15px;
}
.card-holder input {
  text-transform: uppercase;
}
clr-icon {
  margin-left: 15px;
}
.modal-title__user-data {
  font-style: oblique;
  font-weight: bold;
}
.header__first-item {
  padding-top: 1rem;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}
.header__second-item {
  padding-top: 1rem;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}
.clr-col-7 {
  min-width: 315px;
  flex: 1.4 0 0px;
  max-width: 80%;
}
clr-alert {
  margin-top: -3px;
  max-width: 220px;
}
.pay-sum-tooltip {
  font-size: 13px;
  font-style: italic;
  color: #787878;
  margin-top: 10px;
}
