<clr-alert [clrAlertAppLevel]="true" [clrAlertType]="'info'"
           [clrAlertClosable]="false" [hidden]="!_isAlertVisible">
  <clr-alert-item>
        <span class="alert-text">
            You were charged {{_notification ? _notification.total : null}} $ for
          {{_notification ? _notification.serviceType : null}}
        </span>
    <clr-icon shape="close" size="20" class="close-button" (click)="_closeAlert()"></clr-icon>
  </clr-alert-item>
</clr-alert>
<clr-main-container class="main-container">
  <clr-header class="clr-header">
    <div class="branding">
      <a routerLink="person-info" class="nav-link">
        <span class="title">Personal Cabinet</span>
      </a>
    </div>
    <div class="header-actions">
      <span class="header__short-info">{{_serviceId | formatPhoneNumber}}</span>
      <span class="header__short-info" [class.negative-balance]="_balance < 0">{{_balance}} $</span>
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger *ngIf="_customerName">
          {{_customerName.lastName}} {{_customerName.firstName}} {{_customerName.middleName}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right" class="header__dropdown-menu">
          <div class="header__dropdown-short-info">
            {{_serviceId | formatPhoneNumber}} <br>
            {{_balance}} $
          </div>
          <a href="/login" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <div class="home-content-wrapper" >
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </main>
    <nav class="sidenav" [clr-nav-level]="1">
      <section class="sidenav-content">
        <a class="nav-link" routerLink="customer-info" routerLinkActive="active">Customer's information</a>
        <a class="nav-link" routerLink="detail" routerLinkActive="active">Detalization</a>
        <!--<a class="nav-link" routerLink="discounts" routerLinkActive="active">My discounts</a>-->
        <a class="nav-link" routerLink="tariffs" routerLinkActive="active">Tariffs</a>
        <a class="nav-link" routerLink="payment" routerLinkActive="active">Payment</a>
      </section>
      <img src="assets/images/nc_logo.png" width="158" height="35" class="nc-image">
    </nav>
  </div>
</clr-main-container>
