.sidenav-content {
  margin-top: 15px;
}
.sidenav .sidenav-content>.nav-link {
  line-height: 2rem;
  margin: 0 0 0 1.25rem;
}
.nc-image {
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
.header__short-info {
  line-height: 2.5rem;
  color: #fafafa;
  opacity: .65;
  font-size: 16px;
  font-weight: 500;
  padding-right: 15px;
  padding-left: 10px;
}
.header__dropdown-short-info {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__short-info {
    display: none;
  }
  .header__dropdown-short-info {
    display: block;
    margin-bottom: 10px;
    color: #002538;
    margin-left: auto;
  }
  .header__dropdown-menu {
    padding-right: 10px;
  }
  .dropdown-menu .dropdown-item, .header__dropdown-short-info {
    padding-left: 15px;
  }
}
@media screen and (max-width: 454px) {
  .header-actions {
    justify-content: flex-start;
  }
}
.clr-header {
  background-color: #002538;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.main-container {
  min-width: 150px;
}
.close-button {
  cursor: pointer;
}
.col-developers {
  margin-left: 50px;
  align-self: flex-start;
}
.main-container .content-container .content-area {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.home-content-wrapper {
  padding: 1rem;
  flex-shrink: 0;
  min-height: calc(100vh - 60px);
}
.negative-balance {
  font-weight: 600;
  color: #ff1a00;
}
