<div *ngIf="_tariffs" class="flex-container">
  <ng-container *ngFor="let tariff of _tariffs">
    <div class="card flex-item">
      <div class="card-block">
        <h4 class="card-title">
          <clr-icon shape="phone-handset" class="phone-icon" size="21"></clr-icon>
          {{tariff.name}}
        </h4>
      </div>
      <div class="card__grid-container">
        <label *ngIf="tariff.description" class="clr-control-label grid-item">Description</label>
        <span *ngIf="tariff.description" class="grid-item">{{ tariff.description }}</span>
        <label class="clr-control-label grid-item">Monthly price</label>
        <span class="grid-item">{{ tariff.monthlyPrice }} $</span>
        <label class="clr-control-label grid-item">Free Minutes</label>
        <span class="grid-item">{{ tariff.freeSeconds / 60 }} Minutes</span>
        <label class="clr-control-label grid-item">Free SMS</label>
        <span class="grid-item">{{ tariff.freeSMS }} SMS</span>
        <label class="clr-control-label grid-item">Free traffic</label>
        <span class="grid-item">{{ tariff.freeMegabytes / 1024 }} GB</span>
        <label class="clr-control-label grid-item">Price per minute</label>
        <span class="grid-item">{{ tariff.pricePerMinute }} $</span>
        <label class="clr-control-label grid-item">Price per SMS</label>
        <span class="grid-item">{{ tariff.pricePerSMS }} $</span>
        <label class="clr-control-label grid-item">Price per 1 MB</label>
        <span class="grid-item">{{ tariff.pricePerMegabyte }} $</span>
      </div>
      <div class="card-footer">
        <button [disabled]="tariff.name === _currentTariffName"
                (click)="_isConfirmModalVisible = true; _tariffNameToChange = tariff.name;
                _tariffToChangePrice = tariff.monthlyPrice" class="btn btn-primary">Choose
        </button>
      </div>
    </div>
  </ng-container>
</div>

<clr-modal [(clrModalOpen)]="_isConfirmModalVisible" [clrModalSize]="'sm'">
  <h3 class="modal-title">Are you sure?</h3>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="_changeTariff()">Yes</button>
    <button type="button" class="btn btn-outline"
            (click)="_isConfirmModalVisible = false">No
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="_isErrorModalVisible" [clrModalSize]="'sm'">
  <div class="modal-body error-modal">
    There is not enough money in your phone number account!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="_isErrorModalVisible = false">
      OK
    </button>
  </div>
</clr-modal>

<clr-modal *ngIf="_tariffNameToChange" [(clrModalOpen)]="_isSuccessModalVisible" [clrModalSize]="'sm'">
  <h3 class="modal-title">Successful!</h3>
  <div class="modal-body">
    You were charged {{_tariffToChangePrice}} $.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="_isSuccessModalVisible = false">OK</button>
  </div>
</clr-modal>
