.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-item {
  width: 45%;
}
.grid-item {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 15px;
  line-height: .75rem;
  overflow: auto;
}
.card__grid-container {
  padding-left: 15px;
  display: grid;
  grid-template-columns: 40% 55%;
  justify-content: space-between;
}
.phone-icon {
  padding-right: 3px;
}
.card {
  min-width: 300px;
}
.error-modal {
  font-size: 18px;
}
