.totalText {
  text-align: right;
  color: #c1c1c1;
  font-weight: bold;
}
#total {
  text-align: center;
  background-color: #f0f0f0;
}
.totalDigits {
  text-align: center;
}
::ng-deep .datagrid .datagrid-column.headers .datagrid-column-title {
  text-align: center;
}
.ids {
  text-align: right;
}
.border-bot {
  border-bottom: 1.5px solid #cccccc;
}
.card-footer__tooltip-container {
  position: relative;
  overflow: visible;
}
.card-footer__tooltip-container:focus {
  outline: none;
  border: none;
}
.tooltip {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  bottom: 75%;
  left: 50%;
  width: auto;
  padding: 0 5px;
  background-color: #787878;
  color: #fff;
  text-align: center;
  border-radius: 6px;

}
.card-footer__tooltip-container:hover .tooltip {
  transition: opacity 0.3s;
  visibility: visible;
  opacity: 1;
}
