<div>
  <div class="clr-row">
    <div class="clr-col-4">
      <div class="cards">
        <div class="card-img">
          <img src="assets/images/call.svg">
        </div>
        <div class="card-block">
          <h4 class="card-title">Calls</h4>
          <p class="card-text">
            Info for calls usage.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Subtotal: {{voiceSubtotal}} {{getCurrencyCode()}}</li>
          <li class="list-group-item">Discount: {{voiceDiscount}} {{getCurrencyCode()}}</li>
          <li class="list-group-item">Total: {{voiceTotal}} {{getCurrencyCode()}}</li>
        </ul>
        <div class="card-footer">
          <button class="btn btn-sm btn-link card-footer__tooltip-container"
                  type="button" (click)="getPdf('voice')">
            <u>Order detalization</u>
            <span class="tooltip">Choose period to get PDF</span>
          </button>
        </div>
      </div>
    </div>
    <div class="clr-col-4">
      <div class="cards">
        <div class="card-img">
          <img src="assets/images/email.svg">
        </div>
        <div class="card-block">
          <h4 class="card-title">SMS</h4>
          <p class="card-text">
            Info for SMS usage.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Subtotal: {{smsSubtotal}} {{getCurrencyCode()}}</li>
          <li class="list-group-item">Discount: {{smsDiscount}} {{getCurrencyCode()}}</li>
          <li class="list-group-item">Total: {{smsTotal}} {{getCurrencyCode()}}</li>
        </ul>
        <div class="card-footer">
          <button class="btn btn-sm btn-link card-footer__tooltip-container"
                  type="button" (click)="getPdf('sms')">
            <u>Order detalization</u>
            <span class="tooltip">Choose period to get PDF</span>
          </button>
        </div>
      </div>
    </div>
    <div class="clr-col-4">
      <div class="cards">
        <div class="card-img">
          <img src="assets/images/globe.svg">
        </div>
        <div class="card-block">
          <h4 class="card-title"><b>Internet</b></h4>
          <p class="card-text">
            Info for Internet usage.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Subtotal: {{trafficSubtotal}} {{getCurrencyCode()}}</li>
          <li class="list-group-item">Discount: {{trafficDiscount}} {{getCurrencyCode()}}</li>
          <li class="list-group-item">Total: {{trafficTotal}} {{getCurrencyCode()}}</li>
        </ul>
        <div class="card-footer">
          <button class="btn btn-sm btn-link card-footer__tooltip-container"
                  type="button" (click)="getPdf('traffic')">
            <u>Order detalization</u>
            <span class="tooltip">Choose period to get PDF</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <h4>Download bill:</h4>
  <hr/>

  <div class="container">
    <div class="form-group">
      <div class="clr-row">
        <div class="clr-col-5">
          <p>Download your bill for an entire period in PDF.</p>
        </div>
      </div>
      <div class="form-block">
        <div class="clr-row">
          <div class="clr-col-4">
            <button class="btn btn-outline" type="button" (click)="getPdf(null)">Download</button>
          </div>
          <div class="clr-col-4">
            <label for="dateFrom">From: </label>
            <input type="date" id="dateFrom" name="date" class="dateFrom" [(clrDate)]="dateFrom" clrDate>
          </div>
          <div class="clr-col-4">
            <label for="dateTo">To: </label>
            <input type="date" id="dateTo" name="date" [(clrDate)]="dateTo" clrDate>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
