<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to your</h3>
      Personal Cabinet
    </section>
    <div class="login-group">
      <clr-input-container>
      <input clrInput [(ngModel)]="username" class="username" type="text" name="username"
             id="login_username" placeholder="Your phone number">
      </clr-input-container>
      <clr-password-container>
      <input clrPassword [(ngModel)]="password" type="password" name="password"
             id="login_password" placeholder="Password" />
      </clr-password-container>
      <div *ngIf="failed" class="error active">
        Invalid user name or password
      </div>
      <button type="submit" class="btn btn-primary" (click)="_tryAuth()">Sign in</button>
    </div>
  </form>
</div>
