.footer {
  background-color: #183147;
  overflow: hidden;
}

.nc-edu-footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-top: 25px;
  border-top: 35px solid #183147;
  border-bottom: 35px solid #183147;
}
.col-analytics {
  margin-left: auto;
  margin-right: auto;
}

.col-developers {
  margin-left: auto;
  margin-right: auto;
}

.col-information {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.footer-container-bottom {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14283a;
  color: white;
  text-align: center;
}
