<footer class="footer">
  <div class="container">
    <div class="col-container">
      <div class="col-analytics">
        <b>Analytics</b>
        <hr>
        <div>
          Irina Makarova<br>
          Andrey Antonenko<br>
          Dmitrii Petrov
        </div>
      </div>
      <div class="col-developers">
        <b>Developers</b>
        <hr>
        <div>
          Mikhail Grigoryev<br>
          Tatiana Makareva<br>
          Pavel Sidorov<br>
          Anton Kistkin
        </div>
      </div>
      <div class="col-information">
        <b>Information</b>
        <hr>
        A software application with high flexibility allowing a quick rollout of customer billing management
      </div>
    </div>
  </div>
  <div class="footer-container-bottom">
    2019, Billing system.<br>Edu Center Moscow Group.
  </div>
</footer>
